In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/train.csv')
df

In [ ]:
df[df['Fare'] >= 500]

In [ ]:
df[df['Fare'] == 0]

In [ ]:
df.groupby(['Embarked','Pclass'])['Fare'].mean()

In [ ]:
sns.boxplot(data=df,x='Embarked',y='Fare',hue='Pclass')
plt.show

In [ ]:
df.isna().sum()

In [ ]:
df_sfill = df.fillna(100)
df_sfill

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df

In [ ]:
df.drop('Cabin',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df['Embarked'] = df['Embarked'].fillna('S')
df.isna().sum()

In [ ]:
df.groupby(['Sex'])['Survived'].mean()

In [ ]:
df.groupby(['Sex','Survived']).count()

In [ ]:
df.groupby(['Pclass','Survived']).count()

In [ ]:
sns.barplot(data=df,x='Pclass',y='Survived',hue='Sex')
plt.show()

In [ ]:
sns.barplot(data=df,x='Embarked',y='Survived',hue='Sex')
plt.show()

In [ ]:
def AgeDiff(age):
  if age < 16:
    return 'C'
  elif age < 50:
    return 'A'
  else:
    return 'E'

df['AgeDiff'] = df['Age'].apply(AgeDiff)
df

In [ ]:
df['Age'].sort_values().tail(1)

In [ ]:
#승선한 항구에 따른 평균요금
df.groupby(['Embarked'])['Fare'].mean()

In [ ]:
df.groupby(['Embarked','Sex'])['Survived'].count()