In [1]:
import numpy as np
list = [1,2,3,4,5]
print(list)
arr =  np.array(list)
print(arr)

[1, 2, 3, 4, 5]
[1 2 3 4 5]

In [2]:
arr = np.array([1,'a',3])
print(arr)

['1' 'a' '3']

In [3]:
arr = np.array([1,2,0.3])
print(arr)

[1.  2.  0.3]

In [12]:
arr = np.array([2,5,8,9,12,23,27,32,35])
print(arr[0:8:2])

[ 2  8 12 27]

In [13]:
arr1 = np.array([1,2,3,4,5])
print(arr1)

arr2 = np.array([[1,2],[3,4],[5,6]])
print(arr2)

print(arr1.shape)
print(arr2.shape)

[1 2 3 4 5]
[[1 2]
 [3 4]
 [5 6]]
(5,)
(3, 2)

In [18]:
np.random.random((2, 3))

array([[0.70134021, 0.7757295 , 0.6818252 ],
       [0.23836522, 0.73764033, 0.73929801]])

In [19]:
np.random.randint(0,100,size=(3,7))

array([[49, 92, 40, 98, 17,  0, 10],
       [65, 38, 38, 42, 33, 97, 62],
       [ 7, 73, 84, 45, 73, 22, 78]])

In [21]:
print(np.arange(1,11,1))

[ 1  2  3  4  5  6  7  8  9 10]

In [22]:
print(np.arange(1,2,0.1))

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9]

In [27]:
import numpy as np
arr1 = np.array([2,4,6,8,10])
arr2 = np.array([5,10,15,20,25])
result = arr1 + arr2
print(result)
result = arr1 - arr2
print(result)
result = arr1 * arr2
print(result)
result = arr1 / arr2
print(result)

[ 7 14 21 28 35]
[ -3  -6  -9 -12 -15]
[ 10  40  90 160 250]
[0.4 0.4 0.4 0.4 0.4]

In [55]:
arr=[1,8,16,19,27,28,55]
np.sort(arr)
print(arr[::-1])

[32, 55, 28, 27, 19, 16, 8, 1]

In [84]:
import numpy as np
coffee = [87,63,64,110,144,143,69,53,133,55,78,123,63,101]
waffle = [87,36,32,101,41,78,115,31,53,11,13,119,25,65]

coffee = np.array(coffee) *3400
waffle = np.array(waffle) *6700
coffee1 = 0
waffle1 = 0
coffee2 = 0
waffle2 = 0
for i in coffee:
  coffee1 += i
for i in waffle:
  waffle1 += i
coffee2 = coffee1 / len(coffee)
waffle2 = waffle1 / len(waffle)
total = coffee+waffle
result = np.where(total <= 450000)
print(result)

print('Coffee:',coffee1,'_',int(coffee2))
print('Waffle:',waffle1,'_',int(waffle2))
print('일별 총매출:',total)
print('낮은 매출:'total[result])

(array([ 2,  7,  9, 10, 12]),)
Coffee: 4372400 _ 312314
Waffle: 5406900 _ 386207
일별 총매출: [ 878700  455400  432000 1050700  764300 1008800 1005100  387900  807300
  260700  352300 1215500  381700  778900]
[432000 387900 260700 352300 381700]