In [ ]:
n = int(input('물건구매가를 입력하세요:'))
m = 0
q = 0
f = 0
if n >= 10000 and n < 50000:
  m = n * 0.05
  q = n-m
  f = '5%'
elif n >= 50000 and n < 100000:
  m = n * 0.075
  q = n-m
  f='7.5%'
elif n >= 100000:
  m = n * 0.1
  q = n-m
  f= '10%'
print('구매가',n)
print('할인율',f)
print('할인금액',m)
print('지불금액',q)

In [ ]:
n = int(input('나이:'))
m = 0
if n >= 65 or n <= 7:
  m = '무료입니다'
elif n >= 8 and n <= 18:
  m = '1000원입니다'
else:
  m = '3000원입니다'
print(m)

In [ ]:
for i in range(2, 10):
  for z in range(1,10):
    print(i,'X',z,'=',i*z)
    print('----------')

In [ ]:
dol = ['뉴진스','에스파','르세라핌','블랙핑크','아이브']
dol.append('BTS')
dol.insert(3,'마마무')
n = dol.index('르세라핌')
dol.remove('르세라핌')
dol.insert(n+1,'여자아이들')
dol.remove('BTS')
print(dol)

In [24]:
합계 = 0
n = 1
while n != 0:
  n = int(input('숫자:'))
  합계 += n
print('합계:',합계)

숫자:2
숫자:4
숫자:7
숫자:0
합계: 13

In [30]:
n=1
for i in range(1,int(input('입력:'))+1):
  n *= i
print(n)

입력:5
120

In [31]:
n = int(input('숫자:'))
for i in range(1,10):
  print(n,'x',i,'=',i*n)

숫자:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [34]:
import random
n = random.randint(1,100)
f= 0
while f != n:
  f = int(input('숫자를 입력하시오:'))
  if f > n:
    print('DOWN')
  elif f < n:
    print('UP')
print('정답')

숫자를 입력하시오:50
DOWN
숫자를 입력하시오:25
UP
숫자를 입력하시오:35
정답