In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv('/content/seoul_temp.csv')
df

In [ ]:
df['년'] = df['년'].str[3:]
df

In [ ]:
df.head(5)
df.tail(5)

In [ ]:
df.info

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(subset=['지점'], inplace=True)
df.isnull().sum()

In [ ]:
df.fillna(df.mean(),inplace = True)
df

In [ ]:
df['년'] > '1988'

In [ ]:
df[df['년']>'1988']

In [ ]:
df['년'] = df['년'].astype(int)
df[df['년']>1988]

In [97]:
df[(df['년']>1988) & (df['평균기온']>=13)]

In [ ]:
df = df.rename(columns={'년':'연도','평균기온':'평균','최고기온':'최고','최저기온':'최저'})
df

In [ ]:
df.nlargest(5,'최고')

In [ ]:
df.nsmallest(5,'최저')

In [ ]:
df[(df['평균']>=13)&(df['최저']<9.3)]

In [ ]:
x = df['연도']
y = df['평균']
plt.plot(x,y)
y_max = df['최고']
y_min = df['최저']
plt.plot(x,y,color = 'green',label='avg')
plt.plot(x,y_max, color='red',label='max')
plt.plot(x,y_min, color='blue',label='min')
plt.legend()
plt.title('seoul temp')
plt.xlabel('year')
plt.ylabel('temp')
plt.grid()
plt.show()